/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Code Pro', monospace; 
*/

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* END GENERAL STYLING */

.top-blocks {
  display: flex;
  padding: 20px;
}
/* CURRENT TEMP BLOCK */
.current-temp {
  border: solid white;
  border-radius: 10px;
  padding: 12px;
  width: 40%;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  float: left;
}
.current-temp::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
  border-radius: 10px;
}

/* TOP ROW IN CURRENT TEMP BLOCK */
.timezone-content {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 50px;
}
.date-content {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
.time-content {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 50px;
}
.weather-item-header{
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    justify-content: space-between;
    display: flex;
    position: relative;
    margin: 5px 0px 0px 5px;   
}
/* END TOP ROW CURRENT TEMP BLOCK */

.cur-temp-content {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 75px;
  color: white;
  text-align: center;
  position: relative;
}
.high-and-low {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  color: white;
  position: relative;
  font-size: 25px;
  margin-bottom: 20px;
}
.weather-item {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  justify-content:space-around;
  display: flex;
  position: relative;
}
/* END CURRENT TEMP BLOCK */

/* BEGIN HOURLY BLOCK */
.hourly-block {
  border: solid white;
  border-radius: 10px;
  padding: 12px;
  width: 40%;
  position: relative;
  float: right;

  margin-right: 5%;
  margin-left: 5%;
}
.hourly-block::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
  border-radius: 10px;
}
.hourly-title {
  font-size: 40px;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 10px;
}
.row-1 {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}
.row-2 {
  display: flex;

}
.hourly-item-r1 {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  margin: auto;
  position: relative;
  text-align: center;
  border: white solid;
  border-radius: 10px;
  padding: 10px;

}
.hourly-item-r2 {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  margin: auto;
  position: relative;
  text-align: center;
  border: white solid;
  border-radius: 10px;
  padding: 10px;

}
/* END HOURLY BLOCK */

/* BEGIN FORECAST BLOCK */
.weather-forecast {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: white solid;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}
.weather-forecast-item::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
  border-radius: 10px;
}
.day {
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  font-size: 25px;
  padding: 5px 15px;
  background-color: #6b6b6b;
  border-radius: 50px;
  color: white;
}
.temp {
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  font-size: 20px;
  color: white;
}
.w-icon {
  position: relative;
}

/* END FORECAST BLOCK */
